
.outlet {
  text-align: center;
}

.dark {
  background-color: #1E1E1E;
  color: red;
}

.dark div {
  color: red;
}

.dark about-me {
  color: red;
}

.dark about-me div {
  color: red;
}

@media screen and (max-width: 900px) {
  .outlet {
    left: 0px;
  }
}
